.cor-primaria{
    background: $cor-primaria;
}

.cor-secundaria{
    background: $cor-secundaria;
}

#form-busca{
    input{
        background-color: $cor-secundaria;
        border: none;
        color: white;
        font-weight: 800;
        margin-top:15px;
        margin-bottom: 0px;
        &::placeholder{
            color:white;
        }
    }
}

#menu{
    ul{
        text-align: center;
        margin-bottom: 0px;
        li{
            display: inline-block;
            a{
                display: block;
                padding: 10px 30px;
                color: white;
                font-weight: bold;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}

.btn-collapse-menu{
    font-size: 1.8rem;
    color: white;
    margin-top:10px;
    float: right;
    // para aparecer uma "maozinha" em cima do link
    cursor: pointer;
    display: none;
}

// 768 tablet
// 992 desktop
// para aparecer somemte quando for tablet para baixo
@media(max-width:760px){

    body{
        margin-top: 100px;
    }

    .barra-fixa{
        position: fixed;
        z-index: 9;
        top:0;
        // barra fixa e deve estender a largura toda
        width: 100%;
    }

    .btn-collapse-menu{
        display: block;
    }

    .collapse-menu{
        position: fixed;
        top:0;
        left:0;
        height: 100vh;
        // colocar um numero bem alto para que essa camada fique em cima de tudo
        z-index: 9999;
        width: 250px;
        background-color: white;
        box-shadow: 0px 2px 5px #000;
        //para dar aquela sensação de animação!! 
        // primeiro parametro é a duração da animação e depois é para animar quando entrar e sair 
        transition: 500ms ease-in-out;
    }

    // para mover o menu para "fora" da tela, como se jogasse para fora
    .collapse-menu-hide{
        left:-255px;
    }

    #menu{
        ul{
            text-align: left;
            margin-top: 30px;
            padding: 0px;
            font-size: 1.5rem;
            li{
                display: block;
                a{
                    display: block;
                    padding: 10px 30px;
                    color: $cor-primaria;
                    font-weight: bold;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

footer{
    background-color: $cor-primaria;
    color:white;
    padding: 10px;
}